.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-container-narrow {
  max-width: 800px;
}

.page-container-normal {
  max-width: 1200px;
}

.page-container-wide {
  max-width: 1600px;
}

.page-container-full {
  max-width: 100%;
}
